.header-table {
    display: flex;
    justify-content: space-between;
}

.btn-custom {
    margin-bottom: 15px;
}

.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1050;
}

.size-button{
    height: 40px;
}

.space-button{
    margin-left: 5px;
}